<%--
  Created by IntelliJ IDEA.
  User: comp01A
  Date: 10/4/17
  Time: 5:38 PM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
</head>

<body>
    <g:form action="save">
        Nombre: <g:textField name="nombre"/>
        Calificacion: <g:textField name="calificacion"/>

   <g:submitButton name="Guardar"/>
    </g:form>
</body>
</html>