<%--
  Created by IntelliJ IDEA.
  User: comp01A
  Date: 10/4/17
  Time: 5:57 PM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>

</head>

<body>
 ${alumnoMostrar.nombre}
<br>
</body>
</html>